# Axis application
AXIS_HTTP_ADDRESS=:9090

# Axis database
AXIS_DB_HOST=127.0.0.1
AXIS_DB_PORT=4000
AXIS_DB_USER=root
AXIS_DB_PASSWORD=change_me
AXIS_DB_NAME=AXIS
AXIS_DB_MAX_OPEN_CONNS=10
AXIS_DB_MAX_IDLE_CONNS=5
